<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Rachel Hawa</h1>
      <h2>Software Engineer</h2>
      <div class="navbox" id="js-navigation">
        <%= link_to "About", about_path, id: "about", class: "active, button" %>
        <%= link_to "Projects", projects_path, id: "projects", class: "button"%>
        <%= link_to "Resume", resume_path, id: "resume", class: "button"%>
        <%= link_to "Contact", contact_path, id: "contact", class: "button"%>
      </div>
    </div>
  </div>


  <div id="js-content">

  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </body>
</html>
